.container {
    margin: auto;
    height: 900px;
    margin-top: 2%;
    width: 90%;
    background-color: rgb(240, 239, 239);
}

.nav {
    display: flex;
    height: 12%;
    width: 99.7%;
    background-color: rgb(250, 248, 248);
    border: 4px solid rgb(180, 179, 179);
    box-shadow: 15px 15px 15px rgb(207, 207, 207);
}

.youpic {
    height: 78%;
    width: 10%;
    margin-top: 10px;
    margin-left: 35px;
}

.navbox {
    height: 90%;
    width: 50%;
    margin: auto;
    display: flex;
}

input {
    height: 12%;
    padding: 2%;
    width: 90%;
    margin: auto;
    font-size: 30px;
}

.btn {
    height: 28%;
    padding: 11px;
    width: 35px;
    margin: auto;
    font-size: 33px;
    color: grey;
    background-color: rgb(252, 251, 249);
    border: 1px solid rgb(73, 72, 72);
}

.btn:hover {
    /* box-shadow: 4px 4px 2px 2px rgb(177, 176, 176) */
    border: 4px solid rgb(189, 189, 189);
}

.showResult {
    display: grid;
    font-size: 22px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 4%;
}

.poster {
    width: 380px;
    height: 340px;
}

.thumbnail {
    width: 100%;
    height: 65%;
}